div{
  margin:auto;
  width: 50%;
  position:relative;
  margin-top:200px;
}

input[type="submit"]{
  margin-top:10px;
}


#result{

  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  width:50%;
  text-align:center;

}


 #result span {
   display: block;
   text-align:center;
   font-weight:bold;
   font-seize:19px;

 }

 #result > span >span{
   color:aqua;
   display: inline;
 }
