
<div id="nav">
  <img src="../assets/images/logo.jpg" />
  <span>Houssem Romdhane Solution</span>
</div>
<div class="form-group" id="form">
  <h4 *ngIf="erreurmessage" id="erreurmesage">{{erreurmessage}}</h4>
  <form>
      <label for="xx">Please enter the phone number:</label>
      <input type="number" class="form-control" id="xx" #phonenumber />
      <input type="submit" class="btn btn-info" value="submit" (click)="printNumber()"/>
  </form>
    <div id="result">
      <span *ngIf="result"> The best operator is <span>{{bestoperator}}</span> with the price <span>{{result}}</span></span>
      <span *ngIf="noresult" style="color: red">{{noresult}}</span>
    </div>
</div>

